.canvas-layout {
  width: 100vw;
  height: 100vh;
}

.flow-canvas {
  position: relative;
  width: 100%;
  height: 100%;
  background: #f8fafc;
}
.react-flow__edge-path {
  stroke: red;
  stroke-width: 2;
}